@font-face {
  font-family: "Canela-Regular";
  src: url('../fonts/CanelaWeb-Regular.ttf');
  font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "Canela-Thin";
  src: url('../fonts/CanelaWeb-Thin.ttf');
  font-weight: normal;
	font-style: normal;
}
