/*****
SEPERATE CSS STYLESHEET FOR MEDIA QUERIES
*****/

/* TABLET VIEW */

@media screen and (max-width: 768px) {

  /* NEW - PORTFOLIO COLUMN */

  .side_nav {
    display: block;
  }

  #nav-column, #footer-column {
    width: 90vw; /* 12em 16.667%; */
    position: relative;
    overflow: initial;
    margin-left: 1.5em;
    /* margin-right: 1.5em; */
  }

  #nav-column {
    display: inline-block;
    margin-bottom: 1.5em;
  }

  #project-column, #about-column {
    width: 85vw;
    margin-left: 1.5em;
    /* margin-right: 1.5em; */
  }

  #portfolio-quick-info,
  #porfolio-toggle-view {
    float: none;
  }

  #project-column .main-title, #project-column .bold-project-name {
    line-height: 2.1rem;
    font-size: 1.6rem;
  }

  #project-column .main-title {
    margin: 0.4em 0;
  }

  #project-column-thumbnail #project-column {
    width: 85vw;
  }

  #project-column-thumbnail .main-title,
  #project-column-thumbnail .bold-project-name {
    /* font-size: 1em;
    color: #FFF; */
  }

  #project-column-thumbnail .gallery-grid {
    column-gap: 0;
    column-width: 85vw;
  }

  #project-column-thumbnail .gallery-grid figure img {
    width: 85vw;
  }

  #footer-column {
    margin-top: 1.5em;
  }

  #footer-column .footer_left {
    margin-right: 2em;
  }

  .inner-project-column {
    width: 85vw;
  }

  .full-project-column {
    width: 85vw;
  }

  .project-intro {
    order: 2;
  }

  .project-specs {
    order: 1;
  }

  .mobile-only {
    display: block;
  }

  .desktop {
    display: none;
  }

  .project-overview .mobile-only .project-specs {
    display: inline-block;
    vertical-align: top;
  }

  .mobile-only .project-specs.col-1-2 {
    width: 40vw;
  }

  .column-caption {
    margin: 1em 2em 3em 2em;
    text-align: center;
  }

  .project-intro p,
  .project-content p {
    margin-bottom: 1.5em;
  }

  .horizontal-line {
    margin-top: 3em;
    width: 85vw;
  }

  .pagination-container {
    padding: 1.5em 0;
  }

  .previous-title, .next-title {
    line-height: 2.1rem;
    font-size: 1.6rem;
  }

  .about-title {
    line-height: 2.2rem;
    font-size: 1.6rem;
    width: 85vw;
  }

  .about-text {
    width: 85vw;
  }

  .about-desc.col-8-12 {
    padding-right: 0;
  }

  .about-contact.col-4-12 {
    padding-left: 0;
  }

  /* Portfolio Illustrations */
  .gallery-grid {
    /* width: 100%; */
    margin: 2.5em auto;
    column-width: 85vw;
  }

  .gallery-grid figure {
    margin: 0;
  }

  .grid-caption {
    margin: 1em 2em 3em 2em;
    text-align: center;
    padding-bottom: 1em;
  }

  .slide-dots {
    margin-top: 2.5em;
  }

  .dot {
    height: 8px;
    width: 8px;
  }

  .copyright-text {
    float: none;
  }

  .copyright-links {
    float: none;
  }

  #manulife #business-problem {
    width: 85vw;
  }
}

@media (max-width: 690px) {

  /* Portfolio Illustrations */
  .gallery-grid {
    width: 100%;
    margin: 2.5em auto;
  }
}


@media screen and (max-width: 425px) {

  /* Portfolio General */

  .specs-title {
    margin-top: 2em;
  }

  .project-desc {
    width: 100%;
  }

  .flickity-prev-next-button .flickity-button-icon {
    display: none; /* don't display the prev/next buttons on mobile */
  }

}
