/*****
SEPERATE CSS STYLESHEET FOR MEDIA QUERIES
*****/

@media screen and (max-width: 950px) {
  #manulife-grid .bold-project-name {
    width: 16em;
    margin: 2em 2.5em 0 3em;
  }

  #manulife-grid .main-title {
    margin: 5em 2.5em 0 3em;
  }
}

/* TABLET VIEW */

@media screen and (max-width: 768px) {

  .about-image {
    display: none;
  }

  .about-me {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .about-me .col-1-3, .about-me .col-2-3 {
    margin-left: 0;
  }

  .footer_copyright .push-1-3 {
    margin-left: 0;
    padding: 0;
    width: 100%;
    /* align-items: flex-end; */
  }

  #project-list, #project-grid {
    margin-top: 0;
  }

  #project-grid {
    margin-bottom: 0;
  }

  #project-grid .main-title,
  #project-grid .bold-project-name {
    line-height: 2.2rem;
    font-size: 1.6rem;
  }

  #style-guide .grid, #sg-about .grid,
  #sg-project1 .grid, #sg-project2 .grid, #project-list .grid {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .main_nav, .footer {
    margin-top: 0;
    padding-left: 1.5em;
    padding-right: 1.5em;
    position: relative;
  }

  .illustration-grid figure {
    margin: 0;
  }

  .slide-dots {
    margin-top: 2.5em;
  }

  .dot {
    height: 8px;
    width: 8px;
  }

  .copyright-text {
    float: none;
  }

  .copyright-links {
    float: none;
  }

  #construction-portfolio {
    text-align: left;
    margin: 10%;
  }

  #construction-portfolio .main-title {
    line-height: 3.2rem;
    font-size: 2.4rem;
  }
}

@media (max-width: 690px) {

  /* Portfolio Illustrations */
  .illustration-grid {
    width: 100%;
    margin: 2.5em auto;
  }
}

@media screen and (max-width: 568px) {

  #manulife-grid .main-title {
    margin: 5em 2.5em 0 3em;
  }
}

/* Portrait and Landscape Mobile */
/* @media only screen
  and (min-width: 375px)
  and (max-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) { */

@media screen and (max-width: 414px) {

  /* Portfolio General */

  .main_nav_left, .footer_left {
    /* margin-left: 2em; */
    margin: 0;
  }

  .main_nav_right, .footer_right {
    /* margin-right: 2em; */
    margin: 0;
  }

  #caseit .project_brief .main-title {
    line-height: 2.4rem;
    font-size: 1.8rem;
    margin-left: 0;
    margin-right: 0;
  }

    #caseit .previous-title, #caseit .next-title   {
    text-align: center;
    line-height: 2.4rem;
    font-size: 1.8rem;
  }

  .vertical-line {
    display: none;
  }

  #project-list .project {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  #project-list .grid {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }

  #project-list .main-title, #project-list .bold-project-name {
    line-height: 2.1rem;
    font-size: 1.6rem;
  }

  .project-brief .main-title {
    line-height: 2.4rem;
    font-size: 1.8rem;
  }

  #project-grid .bold-project-name {
    margin: 1.2em 2.5em 0 2.5em;
    font-size: 1.2rem;
    line-height: 1.4rem;
    width: 16em;
  }

  #project-grid .main-title {
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin: 2.6em 2.5em 0 2.5em;
  }

  #manulife-grid .main-title  {
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin: 4em 2.5em 0 2.5em;
  }

  /* Portfolio About */

  .about-title {
    line-height: 2.6rem;
    font-size: 2rem;
  }

  .copyright-text, .copyright-links {
    margin: 1.5em 0;
  }

  /* Portfolio Projects */

  #tealeaves, #manulife, #caseit,
  #locale, #illustrations, #graphic-archive,
  #project-list, #about {
    margin-top: 0;
  }

  .project_brief {
    margin: 0;
    padding: 0 1.5em 2em 1.5em;
  }

  .project-hero {
    margin-left: 0;
    margin-right: 0;
  }

  .project-desc .col-8-12 {
    padding: 0;
  }

  .project-specs .col-4-12 {
    padding: 0;
  }

  .specs-title {
    margin-top: 3em;
  }

  .project-desc {
    width: 100%;
  }

  .project-analysis {
    padding-top: 0;
  }

  .project_container {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }

  .overlap-middle-image {
    margin: 3em 0 3em 0;
  }

  .final-product {
    background-color: #EBEBED;
  }

  .illustration-grid figure figcaption {
    padding-bottom: 4.5em;
  }

  .flickity-prev-next-button .flickity-button-icon {
    display: none; /* don't display the prev/next buttons on mobile */
  }

  .project-pagination {
    margin-top: 6em;
  }

  .pagination-container {
    padding: 1.5em 0;
  }

  .previous-title, .next-title {
    font-size: 1rem;
  }

}

@media screen and (max-width: 375px) {
  #project-grid .bold-project-name {
    margin: 1.2em 2em 0 2em;
    width: 14em;
  }

  #project-grid .main-title {
    margin: 2.6em 2em 0 2em;
  }

  #manulife-grid .main-title  {
    margin: 4em 2.5em 0 2em;
  }
}
